.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__list {
  @include reset-list;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 559px;
  margin: 0 auto;
  padding-right: 6px;
}

.contacts__item {
  margin-right: 90px;
  margin-bottom: 20px;

  &:nth-child(2n+2) {
    margin-right: 0;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  line-height: 22px;
  font-weight: $font-normal;
  color: rgba($color--base, 0.5);

  &:hover,
  &:focus,
  &:active {
    color: $color--base;
  }
}

.contacts__svg {
  margin-right: 15px;
  fill: none;
}

@media (max-width: $tablet-width) {
  .contacts__list {
    width: 552px;
  }
}

@media (max-width: $mobile-width) {
  .contacts__list {
    flex-direction: column;
    justify-content: center;
    padding-right: 0;

    margin: 0;
  }

  .contacts__item {
    margin-right: 0;
    margin-bottom: 22px;
    padding-right: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .contacts__svg {
    &--email {
      margin-left: 10px;
    }

    &--phone {
      margin-left: -11px;
    }
  }
}
