.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;

  margin-bottom: 150px;
  padding: 0 calc(50vw - 440px);
  padding-top: 21px;
  padding-bottom: 240px;
  min-height: 825px;
  box-sizing: border-box;

  color: $color--white;

  background-color: $background-color--dark;
  background-image: url("../img/promo@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/promo@2x.jpg");
  }
}

.header__navigation {
  padding: 0 3px;
  margin-bottom: 255px;
  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
}

.header__menu-toggle {
  display: none;
}

.header__info {
  width: 390px;
}

.header__logo {
  margin-bottom: 31px;
}

.header__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  font-size: 46px;
  line-height: 64px;
  font-weight: $font-bold;
  letter-spacing: -0.005em;
}

.header__description {
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 32px;
  color: rgba($color--white, 0.8);
  letter-spacing: -0.005em;
}

@media (max-width: $tablet-width) {
  .header {
    display: block;
    margin-bottom: 70px;
    padding: 0;
    min-height: auto;

    color: $color--base;

    background: none;
    background-color: $background-color;
  }

  .header__navigation {
    margin-bottom: 0;
    padding: 0;
  }

  .header__menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    display: none;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0;
    width: 50px;
    height: 50px;

    background-color: $btn-background;
    border: none;
    border-radius: 0; /* Убирает скругление углов кнопок по умолчанию в Edge */

    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      background-color: $btn-background--hover;
    }

    &--close {
      width: 50px;
      height: 52px;
      background-color: transparent;

      &:hover,
      &:focus,
      &:active {
        background-color: $background-color--gray;
      }
    }

    &--active {
      display: flex;
    }

    &--no-js {
      display: none;
    }
  }

  .header__info {
    width: 100%;

    color: $color--white;

    background-color: $background-color--dark;
    background-image: url("../img/promo@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo@2x.jpg");
    }
  }
}
